.generator {
  margin-top: 1rem;
}
button.pokemon {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 0.5rem;
  background-color: blue;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: 'Press Start 2P', cursive;
}
.image {
  min-height: 15rem;
  min-width: 5rem;
  padding: 0;
}
.pokemonName {
  color: blue;
  text-shadow: 0 0 0 blue, 0 0 5px yellow;
  font-size: 3rem;
  margin: 1rem;
}
.heightPokemon {
  color: yellow;
  text-shadow: 0 0 0 yellow, 0 0 5px blue;
  font-size: 2rem;
  margin: 1rem;
}
.weightPokemon {
  color: yellow;
  text-shadow: 0 0 0 yellow, 0 0 5px blue;
  font-size: 2rem;
  margin: 1rem;
}
button.starwars {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 0.5rem;
  background-color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: 'distantGalaxy';
  margin-bottom: 0.5em;
}
.name {
  color: yellow;
  text-shadow: 0 0 0 yellow, 0 0 5px black;
  font-size: 3rem;
  margin: 1rem;
}
.height {
  color: black;
  text-shadow: 0 0 0 black, 0 0 5px yellow;
  font-size: 2rem;
  margin: 1rem;
}
.world {
  color: black;
  text-shadow: 0 0 0 black, 0 0 5px yellow;
  font-size: 2rem;
  margin: 1rem;
}
.affil {
  color: black;
  text-shadow: 0 0 0 black, 0 0 5px yellow;
  font-size: 2rem;
  margin: 1rem;
}
.affilSmall {
  color: black;
  text-shadow: 0 0 0 black, 0 0 5px yellow;
  font-size: 1.5rem;
  margin: 1rem;
}
