.container {
  display: flex;
}

.col {
  flex-direction: column;
  outline: 1px solid black;
  min-height: 20rem;
  min-width: 20rem;
  margin: auto;
  margin-top: 2.5rem;
  align-items: center;
  text-align: center;
}
.generator-name {
  font-size: 5rem;
  overflow-wrap: break-word;
}
